    <div id="mySidebar" class="sidebar">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/assets/menu_close.png"></a>
        <div class="center">
        <div class="nav-itens">
              <a href="/kristoffsilva"><div class="nav-item">KRISTOFF SILVA</div><div class="nav-item-2"> PÉTALA DE SI</div></a><br>
              <a href="/jhe"><div class="nav-item">JHE</div><div class="nav-item-2">MATRIOSKA</div></a><br>
              <a href="/leonoraweissmann"><div class="nav-item">LEONORA WEISSMANN</div><div class="nav-item-2"> COURAÇA </div></a><br>
              <a href="/thiagoamud"><div class="nav-item">THIAGO AMUD</div><div class="nav-item-2"> O AMOR, AMIÚDE</div></a><br>
              <a href="/ilessisilva"><div class="nav-item">ILESSI SILVA</div><div class="nav-item-2"> MEU BESTIÁRIO </div></a><br>
              <a href="/luisalacerda"><div class="nav-item">LUÍSA LACERDA</div><div class="nav-item-2"> CONTO POR CONTO </div></a><br>
              <a href="/rafaelmacedo"><div class="nav-item">RAFAEL MACEDO</div><div class="nav-item-2"> ÀÁGUA </div></a><br>
              <a href="/julianaoerdigao"><div class="nav-item">JULIANA PERDIGÃO</div><div class="nav-item-2"> SINGELO GRÃO </div></a><br>
              <a href="/sergioperere"><div class="nav-item">SÉRGIO PERERÊ</div><div class="nav-item-2"> ATRAVESSANDO FENDAS </div></a><br>
        </div></div>
              <br>
              <div class="second-nav">
                <p>ISSO NÃO É UM DISCO?<br><b><a href="/sobre" class="sobre">SAIBA MAIS</a></b></p>
              </div>
              <div class="social"> 
                    <a href="https://www.instagram.com" target="_blank">
                      <i class="fa fa-instagram fa-1_5x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                      <i class="fa fa-facebook fa-1_5x" aria-hidden="true"></i>
                    </a>
              </div>
      </div>