<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include navbar.html %}
  
    <div class="title" id="title">
        <h1>A VOZ,<br>A SÓS</h1>
    </div> 
      
     <div class="icones">  

        
            <div class="icone1 icone movement">
                <a href="/luisalacerda" class="nav-item"><img src="/assets/6a.png" class="img1"></a>
                <a href="/luisalacerda" class="nav-item"><img src="/assets/6b.png" class="img2"></a>
            <p>LUISA LACERDA</p>
        </div>  

        <div class="icone2 icone movement">
            <img src="/assets/1.png" class="img1">
            <p>KRISTOFF SILVA</p>
        </div> 

        <div class="icone3 icone movement">
            <img src="/assets/2.png" class="img1">
            <p>JHÊ</p>
        </div> 

        <div class="icone4 icone movement">
            <img src="/assets/3.png" class="img1">
            <p>ILESSI SILVA</p>
        </div>  

        <div class="icone5 icone movement">
            <img src="/assets/4.png" class="img1">
            <p>RAFAEL MACEDO</p>
        </div> 

        <div class="icone6 icone movement">
            <img src="/assets/5_talvez.png" class="img1">
            <p>SERGIO PERERE</p>
        </div>

        <div class="icone7 icone movement">
            <img src="/assets/7.png" class="img1">
            <p>JULIANA PERDIGÃO</p>
        </div>  

        <div class="icone8 icone movement">
            <img src="/assets/8_talvez.png" class="img1">
            <p>THIAGO AMUD</p>
        </div> 

        <div class="icone9 icone movement">
            <img src="/assets/9.png" class="img1">
            <p>LEONORA WEISSMANN</p>
        </div>

     </div>   
      <br>
      <p>ISSO NÃO É UM DISCO?<br><b><a href="{{ site.baseurl }}/sobre">SAIBA MAIS</a></b></p>
      <br>
      <br>

    {% include social.html %}

  </body>
    <br><br><br>
    {% include footer.html %}

</html>