<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include navbar.html %}
      <content>
      <div class="video-wrap">
            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/{{ page.videocode }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

        <div class="pagecontent">   
              <div class="pagetitle"> 
                  <div class="interprete">{{ page.who }}</div>
                  <div class="cancao">{{ page.song }}</div></div>
                  <br>             
       
              <img src="{{ page.cover }}" class="cover">
              <br>
              <br><br><br>
            <img src=../assets/line.png class="line">
            {% include swipebox.html %}
            <p>Fotos {{ page.creditos }}</p>
            <img src=../assets/line.png class="line">
            {% include carousel.html %}
        </div>
    </content>
    {% include social.html %}
  </body>
    <br><br><br>
    {% include footer.html %}

</html>